.wrapper{
    width:1170px;
}

header{
  height:55px;
  background-color:#A91B0D;
  width:100%;
  z-index:12;
  position:fixed;
}

.logo{
  width:10%;
  float:left;
  line-height:60px;
}

.navigation ul{
    list-style-type: none;
    padding: 1%;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    float:right;
    margin-right:-150px;
}

nav a{
  text-decoration:none;
  font-size:20px;
  color:#FFFFFF;
  text-transform:uppercase;
  margin-bottom:-10px;
}

.logo a{
  text-decoration:none;
  font-size:20px;
  color:#FFFFFF;
  text-transform:uppercase;
}

nav li a:hover{
  color:#F9A602;
}

.nav_button{
  line-height:35px;
  display:inline-block;
  margin-right: 35px;
}