header { 
  background-color: #FFFFFF; 
  width: 100%; 
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 12;
  height: 60px;
}

.logo {
  float: left;
  line-height: 60px;
  margin-left: 120px; 
}

.logo a{
  font-family: "Montserrat", sans-serif;
  text-decoration:none;
  font-size:20px;
  font-weight: bold;
}

.logo_eliza{
  color: #023047;
  margin-right: -5px;
}

.logo_gev{
  color: #219ebc;
}

.navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
  margin: 0 20px;
}

nav a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 14px;
  color: #023047;
  text-transform: uppercase;
}

.nav_button{
  line-height:30px;
  display:inline-block;
  margin-right: 35px;
}

.contact{
  float: right;
  line-height: 60px;
  margin-right: 120px; 
}

.contact a{
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 14px;
  color: #219ebc;
  text-transform: uppercase;

  border: 1px solid #219ebc;
  padding: 6px 14px;
  border-radius: 7px;
}

/*AUTOBIOGRAPHY*/
#autobio {
  background-image: url('images/autobio_pic.png'); 
  background-size: 90% auto; 
  background-position: top center; 
  background-repeat: no-repeat; 
  height: 800px;  
  padding: 40px;
  position: relative;         
}

.about_me{
  margin-top: 17%;
  margin-left: 43%;
}

.hello{
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #023047;
}

.nn{
  font-weight: bold;
}

.front{
  font-family: "Montserrat", sans-serif;
  color: #219ebc;
  margin-top: 10px;
}

.about_info{
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #023047;
  width: 62%;
}

/*SKILLS*/
.sk{
  width: 80%;
  position: center;
  background-color: blue;
}

.experties{
  font-family: "Montserrat", sans-serif;
  color: #023047;
}