header{ 
  background-color: #001d3d; 
  width: 100%; 
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 12;
  padding: 0 20px; 
  height: 60px; 
}

.logo{
  flex: 0 0 auto;
  marigin: 0;
  width:10%;
  line-height:60px;
}

.navigation ul{
    list-style-type: none;
    padding: 1%;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    float:right;
    margin-right:-150px;
}

nav a{
  text-decoration:none;
  font-size:20px;
  color:#FFFFFF;
  text-transform:uppercase;
  margin-bottom:-10px;
}

.logo a{
  text-decoration:none;
  font-size:20px;
  color:#FFFFFF;
  text-transform:uppercase;
}

nav li a:hover{
  color:#F9A602;
}

.nav_button{
  line-height:35px;
  display:inline-block;
  margin-right: 35px;
}